/*专题*/
header h1.title{
    font-size: 18px;
    line-height: 1em;
    top:15px;
}
header .control-group li.active {
    background: #fff;
}
header .control-group li.active a {
    color: #06c1ae;
}
header .control-group li>a {
    color: #fff;
}
header nav{
    padding: 0 15px;
}
footer{
    background-color: #fff;
}
footer .control-group li.active{
    background: #fff;
    color: #06c1ae;
}
footer .control-group li {
    border-color: #fff;
}
footer .control-group li.active a {
    color: #06c1ae;
}
footer .control-group li>a {
    color: #868686;
}
footer .control-group li.active .imgHome{
    width:100%;
    height:23px;
    background:url('../images/home2.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li .imgHome{
    width:100%;
    height:23px;
    background:url('../images/home1.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li.active .imgHospital{
    width:100%;
    height:23px;
    background:url('../images/hospital2.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li .imgHospital{
    width:100%;
    height:23px;
    background:url('../images/hospital1.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li.active .imgFind{
    width:100%;
    height:23px;
    background:url('../images/find2.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li .imgFind{
    width:100%;
    height:23px;
    background:url('../images/find1.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li.active .imgCenter{
    width:100%;
    height:23px;
    background:url('../images/center2.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}
footer .control-group li .imgCenter{
    width:100%;
    height:23px;
    background:url('../images/center1.png') no-repeat;
    background-size:23px 23px;
    background-position:center; 
}

/*医院科室*/
#hosDept_footer{
    border-top: 1px solid #ffffff;
}
#hosDept_article{
    background-color: #F1F1F1;
}

/*预约单*/
#bookingIos_article input[type=text]{
    margin-bottom:0px;
    border: none!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0!important;
    height: 20px!important;
}
#bookingIos_article textarea{
    margin-bottom:0px;
    border: none!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0!important;
    height: 60px!important;
}
#bookingIos_article .ui-field-contain div.error {
    color: #f00;
}

#bookingAndroid_article input[type=text]{
    margin-bottom:0px;
    border: none!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0!important;
    height: 20px!important;
}
#bookingAndroid_article textarea{
    margin-bottom:0px;
    border: none!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0!important;
    height: 60px!important;
}
#bookingAndroid_article .ui-field-contain div.error {
    color: #f00;
}

/*推荐医院*/
#hospital_header nav span:not(.button)>.icon {
    font-size: 1em;
    float: right;
}
#hospital_header nav {
    padding: 0px 10px;
}
#hospital_header #cityTitle{
    line-height: 1em;
}
#hospital_header .cityImg{
    background: url('../images/cityLogo.png') no-repeat;
    background-size: 15px 8px;
    width:15px;
    background-position-y: 5px;
}
#hospital_article .list>li{
    padding:15px 10px;
}
#hospital_article .list>li>a:not([class*=button]) {
    margin: -15px -10px -15px -10px;
}
#hospital_article #leftCity{
    background-color: #efefef;
}
#hospital_article #leftCity ul.list{
    background-color: #efefef;
}
#hospital_article #leftCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#hospital_article #rightCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#hospital_article .button, button {
    padding: 10px 10px;
}
#hospital_article select{
    text-align: center;
    background-color: #ffffff;
    background-image: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 10px 15px 10px 10px;
}

/*预约医生*/
#bookingDoc_header.headerBg{
    background: url('../images/doctorBg.png') no-repeat;
    background-size: 100%;
    border-bottom: inherit;
}
#bookingDoc_article .imgDiv{
    width:70px;
    height:70px;
    border-radius: 50%;
    overflow: hidden;
}
#bookingDoc_article .signIcon{
    width: 80px;
    height: 28px;
    padding-left: 15px;
    padding-top: 3px;
    background: url('../images/signIcon.png') no-repeat;
    background-size: 100% 100%;
}
#bookingDoc_article .yzIcon{
    width: 80px;
    height: 28px;
    padding-left: 15px;
    padding-top: 3px;
    background: url('../images/yzIcon.png') no-repeat;
    background-size: 100% 100%;
}
#bookingDoc_article .imgDoc{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 0;
}
#bookingDoc_article{
    background-color: #eeeeee;
}
#bookingDoc_article .doctorBg{
    background: url('../images/doctorBg.png') no-repeat;
    background-size: 100%;
}
#bookingDoc_article .bgStars{
    padding-left:25px;
    background:url('../images/stars.png') no-repeat;
    background-size:11px 11px;
    background-position:10px 3px;
}

/*找医生*/
#findDoc_article .imgDoc{
    display: block;
    width: 100px;
    //border-radius: 50%;
    z-index: 0;
    overflow: hidden;
}
#findDoc_article select{
    text-align: center;
    background-color: #ffffff;
    background-image: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 10px 15px 10px 10px;
}
#findDoc_article .sign{
    margin-top: 3px;
    font-size:12px;
    text-align:center;
    border: 1px solid #F59446;
    color:#F59446;
    border-radius:10px;
}
#findDoc_article .yzIcon{
    padding: 2px 1px 1px 1px;
    background: url('../images/yzListIcon.png') no-repeat;
    background-size: 100% 100%;
}
#findDoc_article #highDept ul.list{
    background-color: #efefef;
}
#findDoc_article #highDept ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDoc_article #secondDept ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDoc_article #diseaseList ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDoc_article #leftCity{
    background-color: #efefef;
}
#findDoc_article #rightCity{
    background-color: #fff;
}
#findDoc_article #leftCity ul.list{
    background-color: #efefef;
}
#findDoc_article #leftCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDoc_article #rightCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDoc_article .button, button{
    padding: 10px 10px;
}
#findDoc_nav .grayImg>img{
    margin-left:10px;
    width:12px;
    height:7px;
}

/*找科室*/
#findDept_header nav span:not(.button)>.icon {
    font-size: 1em;
    float: right;
}
#findDept_header nav.selectCity {
    padding: 0px 10px;
}
#findDept_header #cityTitle{
    line-height: 1em;
}
#findDept_header .cityImg{
    //margin-top: 17px;
    background: url('../images/cityLogo.png') no-repeat;
    background-size: 15px 8px;
    width:15px;
    background-position-y: 5px;
}
#findDept_article .list>li{
    border-bottom:1px solid #c2c2c2;
}
#findDept_article .list>li.nextImg{
    background: url('../images/nextImg.png') no-repeat;
    background-position: 95% 50%;
    background-size: 8px 15px;
}
#findDept_article #leftDept{
    background-color: #efefef;
}
#findDept_article #leftDept ul.list{
    background-color: #efefef;
}
#findDept_article #leftDept ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDept_article #rightDept ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDept_article #leftCity{
    background-color: #efefef;
}
#findDept_article #leftCity ul.list{
    background-color: #efefef;
}
#findDept_article #leftCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDept_article #rightCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#findDept_nav.header-secondary {
    height: 50px;
}
#findDept_nav .grayImg>img{
    margin-left:10px;
    width:12px;
    height:7px;
}
#findDept_article .button, button{
    padding: 10px 10px;
}
#findDept_article select{
    text-align: center;
    background-color: #ffffff;
    background-image: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 10px 15px 10px 10px;
}

/*搜索科室*/
#searchDept_header nav span:not(.button)>.icon {
    font-size: 1em;
    float: right;
}
#searchDept_header nav.selectCity {
    padding: 0px 10px;
}
#searchDept_header #cityTitle{
    line-height: 1em;
}
#searchDept_header .cityImg{
    //margin-top: 17px;
    background: url('../images/cityLogo.png') no-repeat;
    background-size: 15px 8px;
    width:15px;
    background-position-y: 5px;
}
#searchDept_article .list>li{
    border-bottom:1px solid #c2c2c2;
}
#searchDept_article .list>li.nextImg{
    background: url('../images/nextImg.png') no-repeat;
    background-position: 95% 50%;
    background-size: 8px 15px;
}
#searchDept_article #leftCity{
    background-color: #efefef;
}
#searchDept_article #leftCity ul.list{
    background-color: #efefef;
}
#searchDept_article #leftCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#searchDept_article #rightCity ul.list>li{
    border-bottom: 1px solid #efefef;
}
#searchDept_article .button, button{
    padding: 10px 10px;
}
#searchDept_article select{
    text-align: center;
    background-color: #ffffff;
    background-image: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 10px 15px 10px 10px;
}

/*首页*/
#home_article .titlePosition{
    position: absolute;
    top: 0px;
    width: 100%;
}
#home_article .searchIcon{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243645256928') no-repeat;
    background-size: 18px 18px;
    padding-left: 40px;
    background-position-x: 10px;
}
#home_article .bx-pager{
    background-color: transparent;
    bottom: 0px;
    z-index: 99;
}
#home_article .bx-wrapper{
    margin: 0 auto 0px;
}
#home_article .bx-wrapper .bx-pager.bx-default-pager a{
    width: 8px;
    height: 8px;
}
#home_article .sliderImg img{
    width:100%;
}
@media screen and (min-width:300px){
    #home_article .mtSize{
        margin-top:20px;
    }
}
@media screen and (min-width:350px){
    #home_article .mtSize{
        margin-top:30px;
    }
}
#home_article .waike{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243656601643') no-repeat;
    background-position: 1px 0px;
    background-size: 90px;
}
#home_article .guke{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243656601643') no-repeat;
    background-position: -32px 0px;
    background-size: 90px;
}
#home_article .fuke{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243656601643') no-repeat;
    background-position: -61px 0px;
    background-size: 90px;
}
#home_article .erke{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243656601643') no-repeat;
    background-position: 2px -39px;
    background-size: 90px;
}
#home_article .wuguanke{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243656601643') no-repeat;
    background-position: -29px -39px;
    background-size: 90px;
}
#home_article .neike{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243656601643') no-repeat;
    background-position: -59px -38px;
    background-size: 90px;
}

/*选择城市*/
#city_article{
    background-color: #F1F1F1;
}
#city_article .cityBtn{
    border: 1px solid #f2f2f1;
    display: inline-block;
    border-radius: 4px;
    padding: 7px 20px 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

/*搜索页面*/
header#search_header{
    border-bottom: 1px solid #C2C0C0;
}
#search_header input[type=text]{
    color:#000;
    background-color:#E7E8EA;
    margin-bottom:0px;
    border-radius: 5px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 15px!important;
    height: 20px!important;
    border:none!important;
    margin-top: 7px;
}
#search_header .title ::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
}
#search_header .title :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
}
#search_header .title ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
}
#search_header .title :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
}
#search_atricle .orangeLine{
    border-left: 5px solid #F38023;
}
#search_atricle .moreButton{
    padding: 5px;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    color: #222222;
}

/*应用于所有页面*/
header{
    border-bottom:1px solid #09a697;
}
.header-secondary {
    height: 40px;
}
#findDoc_nav.header-secondary {
    height: 50px;
}
#hosDept_nav.header-secondary {
    height: 50px;
}

/**** order ****/
#order{line-height: 2em;font-size: 18px;padding: 1em;}
#order .order-content{color: #333;font-size: 16px;}
#order .order-content .title{display: inline-block;width: 5em;font-size: 16px;}
#order .ch{text-align:center;}
#order  .up{background-color: #e4e4e4;border:1px solid #ddd!important;border-radius:10px;background-position:center;background-repeat:no-repeat;width:190px!important;margin:5px auto 0!important;padding:10px!important;}
#order .alipay{background-image: url(../images/icons/ic-alipay.png);}
#order .yeepay{background-image: url(../images/icons/ic-yeepay.png);}
#order .weixin{background-image: url(../images/icons/ic-weixin.png);}

/*个人中心*/
header#user_header{
    border-bottom: inherit;
}
#user_article{
    background-color: #F1F1F1;
}
#user_article .waitPay{
    height: 40px;
    background: url('../images/waitPay.png') no-repeat;
    background-size: 40px 40px;
    background-position-x: 50%;
}
#user_article .arrangementIn{
    height: 40px;
    background: url('../images/arrangementIn.png') no-repeat;
    background-size: 40px 40px;
    background-position-x: 50%;
}
#user_article .waitConfirm{
    height: 40px;
    background: url('../images/waitConfirm.png') no-repeat;
    background-size: 40px 40px;
    background-position-x: 50%;
}
#user_article .waitEvaluate{
    height: 40px;
    background: url('../images/waitEvaluate.png') no-repeat;
    background-size: 40px 40px;
    background-position-x: 50%;
}
#user_article .dataNum{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #FC4329;
    margin-top: -5px;
    margin-left: 40px;
}
#user_article .orderNext{
    background: url('../images/nextGray.png') no-repeat;
    background-size: 9px;
    background-position: 95% 50%;
}
#user_article .person-header{background-color:#19aea5;padding:24px 0 19px;}
#user_article .img80{
    display: block;
    margin: 10px auto 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
}
#user_article .per-login-phone{color:#fff; text-align:center;margin-top:14px;}
#user_article .person-list>li>a>img{width:50px;}
.popup-title {
    text-align: center;
    font-size: 20px;
}
.popup-content {
    text-align: center;
    padding: 0 10px 10px;
    line-height: 1.2em;
}

/*预约单列表*/
#orderList_article .waitPay{
    background: url('../images/waitPayIcon.png') no-repeat;
    background-size: 52px 55px;
}
#orderList_article .arrangementIn{
    background: url('../images/arrangementInIcon.png') no-repeat;
    background-size: 52px 55px;
}
#orderList_article .waitEvaluate{
    background: url('../images/waitEvaluateIcon.png') no-repeat;
    background-size: 52px 55px;
}
#orderList_article .waitConfirm{
    background: url('../images/waitConfirmIcon.png') no-repeat;
    background-size: 52px 55px;
}
#orderList_article .alreadyEvaluate{
    background: url('../images/alreadyEvaluateIcon.png') no-repeat;
    background-size: 52px 55px;
}
#orderList_article .alreadyCancel{
    background: url('../images/alreadyCancelIcon.png') no-repeat;
    background-size: 52px 55px;
}
#orderList_article .cancelOrder{
    color: #666666;
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
#orderList_article .orderDiv{
    margin-top: 10px;
    background-color: #fff;
}
.imgpopup {
    padding: 2.3em;
    background-color: rgba(0,0,0,0.3);
}
.imgpopup>img {
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
}

#pay_article{
    background-color: #F1F1F1;
}

/*关于我们*/
#aboutus_article #aboutus {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1.8em;
}

/*登录*/
#login_article {
    background: url(../images/image/loginb.jpg) no-repeat fixed top;
}
#login_article .login-back {
    font-size: 23px;
    padding-left: 6px;
    padding-top: 10px;
}
#login_article .logo {
    margin: 30px auto 50px;
    display: block;
    position: absolute;
    text-align: center;
}
#login_article .logo>img {
    width: 15%;
    height: 10%;
}
#login_article .list>li:first-child {
    border-top: none;
}
#login_article .loginform input {
    background-color: rgba(204, 197, 196, 0.15);
    color: #fff!important;
}
#login_article ::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
#login_article :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
#login_article ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
#login_article :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}
#login_article #btn-sendSmsCode {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: block;
    padding-bottom: 9px;
    border-radius: 3px;
}
#login_article .btn-login {
    border-radius: 5px;
    margin-top: 10px!important;
}
#login_article #UserDoctorMobileLoginForm_username-error {
    color: #f00;
    text-align: left;
}
#login_article #UserDoctorMobileLoginForm_captcha_code-error {
    color: #f00;
    text-align: left;
}
#login_article #UserDoctorMobileLoginForm_verify_code-error {
    color: #f00;
    text-align: left;
}

/*医院科室*/
#hospitalView_article.articleBg{
    background: url('../images/dept/bgImg.png') no-repeat;
    background-size: 100% 100%;
}
#hospitalView_article .dptStyle div {
    padding: 4px 10px;
    margin-bottom: 5px;
    display: inline-block;
}
#hospitalView_article .button2 {
    border-radius: 15px;
    font-size: 1em;
    color: #666666;
    border: 1px solid #f2f2f1;
    text-align: center;
}

/*科室下医生列表*/
#hospitalDept_article .img80 {
    display: block;
    margin: 10px auto 0;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
}
#hospitalDept_article .team-name {
    font-size: 18px;
    color: #000;
}
#hospitalDept_article .team-hospital {
    color: #000;
}

/*快速预约过度页*/
#operationTrain_article .stepBg{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243598978929') no-repeat;
    background-size: 100%;
}
#operationTrain_footer{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146243616165849') no-repeat;
    background-size: 100% 100%;
    border-top: inherit;
    background-color: #9FD84B;
}
#operationTrain_article{
    background-color: #9FD84B;
}

/*快速预约*/
#quickBookIos_article .ui-field-contain div.error {
    color: #f00;
}

#quickBookAndroid .bookingConfirm {
    top: 50%!important;
    left: 5%!important;
    right: 5%!important;
    border-radius: 3px!important;
    display: block!important;
    margin-top: -55px!important;
    position: fixed!important;
}
#quickBookAndroid .bookingDiv {
    height: 100px!important;
    text-align: center!important;
    font-size: 20px!important;
    font-weight: 600!important;
    margin-top: 10px!important;
    color: #222!important;
}
#quickBookAndroid .ui-field-contain div.error {
    color: #f00;
}

/**/
#zhuanti_article{
    background-color: #F1F1F1;
}
#story_article{
    background-color: #F1F1F1;
}
/*专题1*/
#zhuantiOne_article .askTitle{
    background: url('../images/zhuanti/askTitle.png') no-repeat;
    background-size: 110px 40px;
    height:40px;
}
#zhuantiTwo_article .lineGreen{
    background: url('../images/zhuanti/lineGreen.png') no-repeat;
    background-size: 5px 1em;
    width: 10px;
    margin-top: 2px;
}
#zhuantiTwo_article .doctorTitle{
    font-size: 16px;
    color: #fff;
    padding-left: 1em;
    border-top: 1px solid #21D443;
    background: url('../images/zhuanti/askTitle.png') no-repeat;
    background-size: 110px 50px;
    height: 25px;
}
#zhuantiThree_article .askTitle{
    background: url('../images/zhuanti/askTitle.png') no-repeat;
    background-size: 110px 40px;
    height: 40px;
}
#zhuantiFour_article .yellowTitle{
    background-color: #fe8c08;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
#zhuantiFour_article .redTable{
    padding: 2px;
    color:#fff;
    background-color: #f56c6c;
    font-size: 12px;
}
#zhuantiFour_article .stepImg{
    background: url('../images/zhuanti/step.png') no-repeat;
    background-size: 100% 100%;
    height: 115px;
}
@media screen and (max-width:360px){
    #zhuantiSix_article .widthDoc{
        width: 90%;
    }
}
@media screen and (min-width:361px){
    #zhuantiSix_article .widthDoc{
        width:80%;
    }
}
@media screen and (min-width:400px){
    #zhuantiSix_article .widthDoc{
        width:75%;
    }
}
@media screen and (min-width:420px){
    #zhuantiSix_article .widthDoc{
        width:70%;
    }
}
@media screen and (min-width:300px){
    #zhuantiFour_article .plStep{
        padding-left: 5px;
    }
    #zhuantiFour_article .prStep{
        padding-right: 5px;
    }
}
@media screen and (min-width:360px){
    #zhuantiFour_article .plStep{
        padding-left: 10px;
    }
    #zhuantiFour_article .prStep{
        padding-right: 10px;
    }
}
@media screen and (min-width:410px){
    #zhuantiFour_article .plStep{
        padding-left: 15px;
    }
    #zhuantiFour_article .prStep{
        padding-right: 15px;
    }
}
#zhuantiRobot_article .titleBlue{
    background: url('../images/zhuanti/Robot/titleBlue.png') no-repeat;
    background-size: auto 100%;
}
#zhuantiRobot_article .borderLeft{
    background: url('../images/zhuanti/Robot/borderLeft.png') no-repeat;
    background-size: 1em 100%;
    padding-left: 20px;
    background-color: #EFEFEF;
}
#zhuantiRobot_article .doctorBg{
    padding: 0px 8px;
    background: url('../images/zhuanti/Robot/doctorBg.png') no-repeat;
    background-size: 48px auto;
    background-position-x: 100%;
}
#zhuantiRobot_article .doctorBorder{
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}
#zhuantiRobot_article .divShadow{
    box-shadow: 2px 2px 2px #cccccc;
}
#zhuantiXinxg_article .titleBg{
    background: url('../images/zhuanti/Xinxg/xinxgTitle.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}
#zhuantiXinxg_article .lineBg{
    background: url('../images/zhuanti/Xinxg/lineBg.png') no-repeat;
    background-size: 100% 100%;
    height: 7px;
}
#shapingHealth_article .titleBg {
    background: url('../images/zhuanti/Xinxg/xinxgTitle.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#shapingHealth_article .lineBg {
    background: url('../images/zhuanti/Xinxg/lineBg.png') no-repeat;
    background-size: 100% 100%;
    height: 7px;
}
#thyroid_article .titleBg{
    margin: 10px 0px;
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146252442340679') no-repeat;
    background-size: 100% 100%;
    padding: 10px 0px 10px 20px;
    font-size: 18px;
    font-weight: 800;
}
#thyroid_article .grayBg{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    color: #4d4d4d;
}

/*待支付、安排中、待确认*/
#payOrder_article .list>li{
    padding: 10px;
}
#payOrder_article .list>li>a:not([class*=button]){
    margin: -10px;
}
#payOrder_article .list>li:first-child{
    border-top: inherit;
}
article#payOrder_article{
    background-color: #eaeff1;
}

/*待评价*/
#review_article textarea{
    margin-bottom:0px;
    border: none!important;
    border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0!important;
    height: 60px!important;
}
#review_article.bg{
    background-color: #EAEFF1;
}
#review_article .btnFull-yellow{
    background-color: #F2A76A;
    width: 100%;
    display: block;
    margin: 5px auto;
}
#review_article [disabled="true"].btnFull-yellow{
    background-color: rgba(185,180,182,.2);
}
#review_article .ui-field-contain div.error{
    color: #f00;
}
/*已完成*/
#complete_article.bg{
    background-color: #EAEFF1;
}

/*常见问题*/
#commonProblem_article .list>li.nextImg {
    background: url('../images/nextImg.png') no-repeat;
    background-position: 95% 50%;
    background-size: 8px 15px;
}
#commonProblem_article .list>li{
    //padding:15px 10px;
}

/*名医公益联盟*/
#mygy_article .imgDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    overflow: hidden;
}

/*公益医生列表*/
#commonwealDoctors_article .imgDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    overflow: hidden;
}

/*名义义诊*/
#myyz_article{
    background-color: #d93a32;
}
#myyz_article #bookingBtn{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/14627628196872') no-repeat;
    background-size: 100% 100%;
    font-size: 18px;
    text-align: center;
    height:40px;
    padding-top: 5px;
    color: #d93a32;
}
#myyz_article .stepone{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146276456506366') no-repeat;
    background-size: 275px 334px;
    background-position-x: -3px;
    width: 134px;
    height: 108px;
}
#myyz_article .steptwo{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146276456506366') no-repeat;
    background-size: 275px 334px;
    background-position: -141px 0px;
    width: 134px;
    height: 108px;
}
#myyz_article .stepthree{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146276456506366') no-repeat;
    background-size: 275px 334px;
    background-position: -3px -109px;
    width: 134px;
    height: 108px;
}
#myyz_article .stepfour{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146276456506366') no-repeat;
    background-size: 275px 334px;
    background-position: -141px -109px;
    width: 134px;
    height: 108px;
}
#myyz_article .stepfive{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146276456506366') no-repeat;
    background-size: 275px 334px;
    background-position: -66px -222px;
    width: 134px;
    height: 108px;
}

/*义诊列表*/
#myyzDoctor_header #cityTitle{
    line-height: 1em;
}
#myyzDoctor_header .cityImg{
    background: url('../images/cityLogo.png') no-repeat;
    background-size: 15px 8px;
    width:15px;
    background-position-y: 5px;
}

#myyzDoctor_article .imgDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    overflow: hidden;
}
#myyzDoctor_article ul.list>li {
    border-bottom: 1px solid #efefef;
}

/*企业预约*/
#createCop_article select {
    background-color: #ffffff;
    background-image: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
#createCop_article .error {
    color: #f00;
}

#createCopAndroid_article select {
    background-color: #ffffff;
    background-image: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
#createCopAndroid_article .error {
    color: #f00;
}

/*hongbao*/
#hongbao .bg{background: url(../images/hongbao/bg-hongbao.jpg) no-repeat;background-size: 100%;}
#hongbao .list>li{padding:5px 20px;}
#hongbao .activity{border:1px solid #F5D623; width:90px; font-size:18px; color:#F5D623;border-radius:3px;}
#hongbao .img-btn{padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;background-color: #CA1947;}
#hongbao .error{color:#EFA429;}
#hongbao #btn-sendSmsCode{font-size: 18px;width:130px;padding-left: 0;padding-right: 0;min-width: 0;padding-top: 8px;}
#successHongbao .success{background: url(../images/hongbao/success-hongbao.jpg) no-repeat;background-size: 100%;}

/*名医主义*/
#myzy_footer{
    background-color: #32C572;
}

/*手术直通车*/
#zhitongche{background-color: #e9f5f4;}
#zhitongche .section-title{padding:5px 15px;font-size:17px;letter-spacing: 2px;background:url(../images/icons/round.png) 15px center no-repeat;border-bottom: 2px solid #abdad6;}
#zhitongche .section-title>.fa{font-size: 12px;}
#zhitongche .section-body{padding: 10px 15px 20px;}
#zhitongche .desc{font-size: 15px;letter-spacing: 2px;line-height: 1.5em;}
#zhitongche .zhitongche-title{height: 122px;font-size:26px;text-align: center;color: #19aea5;background: url(../images/zhitongche/round-title.png) center center no-repeat;background-size: 100%;}
#zhitongche .zhitongche-title.pt50{padding-top: 50px;}
#zhitongche .zhitongche-title.pt20{padding-top: 20px;}
#zhitongche .section-body{padding: 10px 15px 0px;}
#zhitongche .section-body .ui-grid-a .ui-block-a{padding-right: 10px;}
#zhitongche .section-body .ui-grid-a .ui-block-b{padding-left: 10px;}
#zhitongche .section-body .introduce-title{font-size: 15px;color: #19aea5;margin-bottom: 3px;}
#zhitongche .section-body .introduce-title>span{display: inline-block;width: 1.1em;height: 1.1em;font-size: 16px;border-radius: 50%;color: #fff;background-color:#19aea5;text-align: right;line-height: 1.1em;padding-right: 2px;}
#zhitongche .section-body .introduce-title.step1{background-image: url(../images/zhitongche/step1.png);background-position: 0 center ;background-repeat: no-repeat;background-size: contain;padding-left: 1.6em;}
#zhitongche .section-body .introduce-title.step2{background-image: url(../images/zhitongche/step2.png) ;background-position: right center ;background-repeat: no-repeat;background-size: contain;padding-right: 1.6em;}
#zhitongche .section-body .introduce-title.step3{background-image: url(../images/zhitongche/step3.png) ;background-position: 0 center ;background-repeat: no-repeat;background-size: contain;padding-left: 1.6em;}
#zhitongche .section-body .introduce-title.step4{background-image: url(../images/zhitongche/step4.png) ;background-position: right center ;background-repeat: no-repeat;background-size: contain;padding-right: 1.6em;}
#zhitongche .section-body .introduce-content{padding: 5px;font-size: 13px;}
#zhitongche .section-body .step,#zhitongche .section-body .long{padding:20px 0;background: url(../images/zhitongche/wire.png) center 0 repeat-y;}
#zhitongche .section-body .step .introduce-content{min-height: 60px;padding: 5px 10px 5px 15px;background-color: #e9f5f4;}
#zhitongche .section-body .step .introduce-content.bg-left{background-image: url(../images/zhitongche/bg-blue.png) ;background-repeat: no-repeat;background-size: 100% 100%;}
#zhitongche .section-body .step .introduce-content.bg-right{background-image: url(../images/zhitongche/bg-blue-r.png) ;background-repeat: no-repeat;background-size: 100% 100%;}
#zhitongche .section-body .long .introduce-content{background-color: #abdad6;color: #fff;border-radius: 3px;font-size: 13px;letter-spacing: 1.5px;min-height: 80px;line-height: 1.6em;}
#zhitongche .section-body .long .mt-20{margin-top: -30px;}
#zhitongche .qa .question{font-weight: bold;margin-top: 5px;}
#zhitongche .qa .question .qtitle{background: url(../images/zhitongche/bg-question.png) no-repeat;background-size: 100% 100%;padding: 5px;color: #fff;}
#zhitongche .qa .answer{line-height: 1.5em;color: #717071;padding-left: 30px;background: url(../images/zhitongche/bg-answer.png) 0 20px no-repeat;background-size: 2em;}
#zhitongche .qa .answer>span{padding:10px 10px 20px 10px;display: inline-block;background-color: #eff7f7;min-height: 70px;margin-top: 5px;}
#zhitongche .btn-eteam{text-align: center;}
#zhitongche .btn-eteam>a{display: inline-block;margin: 0 auto;border-radius: 5px;box-shadow: 1px 1px 5px #888;font-size: 14px;letter-spacing: 3px;}
#zhitongche .wire{background: url(../images/zhitongche/wire.png) center 0 repeat-y;}
#loading_popup.loading {
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    opacity: .9;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #2C3E50;
}
#loading_popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 98;
    min-height: 50px;
}
#loading_popup.loading i.icon {
    color: #fff;
}
#loading_popup.loading i.icon {
    font-size: 4em;
    line-height: 110px;
    margin: 0;
}
#loading_popup.loading p {
    color: #BDC3C7;
}

/*七牛上传*/
.android_article .progressName{
    word-break: break-all;
    word-wrap:break-word;
}
.android_article .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #fff;
}
.android_article .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: inherit;
    padding:0px;
}
.android_article tr .progressCancel{
    font-size: 30px;
    color: #FF1818;
    line-height: 22px;
}
.android_article #container{
    margin-bottom: 0px;
}
.android_article #container2{
    margin-bottom: 0px;
}
.android_article .btn-default{
    background-color: #19aea5!important;
}
.android_article .body .btn-default{
    border: inherit;
    color: #fff;
}
.android_article .btn{
    padding:3px 10px;
}