
**** General ****
body,a.ui-btn,p{font-weight:200;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft Yahei', 黑体, 宋体, Arial, Simsun, Helvetica, sans-serif !important;}

body {width:100%;color: #333;letter-spacing: 1px;line-height: 1.5;font-size: 14px;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft Yahei', 黑体, 宋体, Arial, Simsun, Helvetica, sans-serif;}
@media (min-width: 1200px){.container {width: 1200px;}}
@media (max-width: 768px){}
#site-content{min-height: 550px;}


/*内边距*/
.nopadding{padding:0 !important;}
.pad1{padding: 1em;}
.pad5{padding:5px;}
.pad20{padding: 20px;}

.pt0{padding-top:0!important;}
.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt17{padding-top:17px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt61{padding-top:61px;}
.pt64{padding-top:64px;}
.pt-90{padding-top: 90%;}
.pt-140{padding-top: 140%;}

.pb0{padding-bottom:0;}
.pb3{padding-bottom:3px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb17{padding-bottom:17px;}
.pb20{padding-bottom:20px!important;}
.pb30{padding-bottom:30px!important;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}

.pl0{padding-left: 0!important;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl12{padding-left: 12px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px;}

.pr0{padding-right: 0!important;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr13{padding-right: 13px;}
.pr15{padding-right:15px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}


/*外边距*/
.margin-center{margin:auto;}
.nomargin{margin:0 !important;}
.mr0{margin-left: 0;margin-right: 0}

.mt-4{margin-top: -4px;}
.mr-10{margin-right: -10px;}
.mr40{margin-right:50px;}
.mt0{margin-top:0;}
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt14{margin-top:14px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt20{margin-top:20px;}
.mt21{margin-top:21px;}
.mt25{margin-top:25px;}
.mt26{margin-top:26px;}
.mt27{margin-top:27px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt42{margin-top:42px!important;}
.mt50{margin-top:50px;}
.mt150{margin-top: 150px;}

.mb0{margin-bottom:0!important;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb17{margin-bottom: 17px;}
.mb20{margin-bottom:20px!important;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb51{margin-bottom:51px;}

.mr10{margin-right:10px;}
.mr13{margin-right:13px!important;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px!important;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}

.ml2{margin-left:2px!important;}
.ml7{margin-left:7px!important;}
.ml0{margin-left: 0!important;}
.ml5{margin-left: 5px!important;}
.ml13{margin-left: 13px!important;}
.ml10{margin-left: 10px!important;}
.ml40{margin-left: 40px!important;}
.ml20{margin-left:20px!important;}


/*颜色*/
.color-green{color:#06c1ae!important;}
.color-green2{color:#32C572!important;}
.color-green3{color:#21D443!important;}
.color-green4{color:#4de23e!important;}
.color-black{color: #333333!important;}
.color-black2{color:#003333!important;}
.color-black3{color:#030210!important;}
.color-black4{color:#4e4e4e!important;}
.color-black5{color:#1d1d1d!important;}
.color-black6{color:#666666!important;}
.color-blue{color:#019aea!important;}
.color-white{color: #fff!important;}
.color-white1{color: #FCF3F5!important;}
.color-gray{color:#868686!important;}
.color-gray2{color:#808080!important;}
.color-gray3{color:#cccccc!important;}
.color-gray4{color:#999999!important;}
.color-orange{color:#f39700!important;}
.color-red{color:#f00!important;}
.color-red2{color:#ff0101!important;}
.color-red3{color:#C15252!important;}
.color-yellow{color:#eeca23!important;}
.color-yellow1{color:#F5D623!important;}

.bg-none{background-color: transparent!important;}
.bg-green{background-color: #06c1ae!important;}
.bg-gray{background-color: rgb(248, 248, 248);}
.bg-blue{background-color:#21a59c;}
.bg-white{background-color:#fff;}
.bg-yellow{background-color:#fe8c08!important;}
.bg-red{background-color:#BD1641;}


/*隐藏*/
.hide{display:none;}


/*字体大小*/
.font-s12{font-size:12px!important;}
.font-s14{font-size:14px!important;}
.font-s15{font-size:15px!important;}
.font-s16{font-size:16px;}
.font-s17{font-size:17px;}
.font-s18{font-size:18px!important;}
.font-s21{font-size:21px!important;}
.text1-6e{font-size:1.6em;}
.text12{font-size:12px;letter-spacing:1px;}
.text14{font-size:14px;}
.text16{font-size:16px;}
.text18{font-size:18px;}
.text1-2e{font-size:1.2em;}


/*文本*/
.text-indent-2{text-indent:2em;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-justify{text-align: justify;}


/*宽高*/
.w4{width:4%;}
.w10{width:10%;}
.w15{width:15%;}
.w20{width:20%;}
.w24{width:24%!important;}
.w25{width:25%;}
.w28{width:28%;}
.w33{width:33.333333%;}
.w40{width:40%;}
.w45{width:45%;}
.w48{width:48%;}
.w50{width:50%;}
.w60{width:60%;}
.w63{width:63%!important;}
.w70{width:70%!important;}
.w75{width:75%;}
.w80{width:80%!important;}
.w100{width:100%;}
.w15p{width:15px;}
.w25p{width:25px;}
.w60p{width:60px;}
.w80p{width:80px;}
.w90p{width:90px;}
.w100p{width:100px;}
.w170p{width:170px;}
.w5p{width:5px;}
.h5p{height:5px;}
.h15p{height:15px;}
.h12-5{height:12.5%;}
.h25{height:25%;}
.h60p{height:60px;}
.h80p{height:80px;}
.h88p{height:88px;}
.h90p{height:90px;}
.h40p{height:40px;}
.h110p{height:110px;}
.h312p{height:312px!important;}


/*浮动*/
.pull-left{float: left;}
.pull-right{float: right!important;}


/*border*/
.border-r3{border-radius: 3px!important;}
.br-gray{border-right:1px solid #dfdfdf;}
.bb-gray{border-bottom:1px solid #dfdfdf;}
.bb-gray4{border-bottom:1px solid #cccccc;}
.bb-dashed-gray{border-bottom:1px dashed #dfdfdf;}
.bb-gray2{border-bottom:1px solid #e1e1e1;}
.bb-gray3{border-bottom:1px solid #f2f2f2;}
.bt-white{border-top:1px solid #ffffff;}
.bt-gray{border-top:1px solid #e1e1e1;}
.bt-gray2{border-top:1px solid #e1e1e1;}
.border-none{border:none!important;}
.bb-none{border-bottom: none!important;}
.border-bottom{border-bottom: 1px solid #e4e4e4;}
.bb-black{border-bottom: 1px solid #333;}
.bl5-green{border-left: 5px solid #00AB45;}
.border-green{border: 1px solid #21D443;}
.bb-green{border-bottom:1px solid #06c1ae;}
.border-gray{border: 1px solid #e4e4e4;}
.bb10-gray{border-bottom:10px solid #efefef;}
.bb5-gray{border-bottom:10px solid #f0f0f0;}
.border-gary{border: 1px solid #e4e4e4;}


/*按钮*/
.btn-yellow{background-color:#fe8c08;width:60%;display:block;margin:5px auto;}
.btn-green{background-color:#19aea5;color:#fff;border-radius:3px;}
/**** btn ****/
.btn{border-radius: 5px;border:none;text-align: center;padding: 3px 5px;}
.btn-block{display: block!important;width: 95%;margin: 5px 2.5%!important;padding: 10px!important;}
.btn-yes{background-color:#19aea5!important;color: #fff!important;}
.btn-default{border: 1px solid #ddd;background-color: #e4e4e4!important;}
.btn-abs{width: 100%;padding: 10px;}
#btn-sendSmsCode{background-color: #EFA429!important;color: #fff!important;height: 40px;border-radius: 0;min-width: 8em;width: 100%;margin: 0px 0!important;}
#btn-sendSmsCode:disabled{color: #fff!important;opacity: 0.5;}
button.btn-sendSmsCode:disabled{color: #fff!important;opacity: 0.5;}


/*display*/
.display-block{display:block!important;}


/*input无边框*/
.input-noborder{border-left: 0!important;border-right: 0!important;border-top: 0!important;border-bottom: 0!important;}


/*滚动*/
.overflow-scroll{
    overflow:scroll;
}


.passage {line-height: 2;}
.divider{border-bottom: 1px solid #888;}
.divider-green{border-bottom:1px solid #19aea5!important;}
a,a:hover{text-decoration: none;}
ul,ol{list-style: none;}
table.table tr.noborder>td {border: none;}
.form-result-success {display: none;}
.errorMessage{color: #f00;text-align:left;}

#tag_close_popup{display:none;}