/**** add css ****/
/**** home ****/
body{margin: 0;}
.ui-content{padding: 0 1em 2em;min-height: 540px;}
.ui-header{border:0;}
.home-page{padding-top: 40px;}
.bx-wrapper{margin-bottom: 30px!important;}
.bx-viewport{height: 186px!important;}
a:active{}
.navbar-dis .ui-grid-b{background-color: #fff;}
.ui-grid-b .ui-btn{background-color: #fff!important;}
.ui-btn-icon-faculty{color: #000!important;}
.ui-btn-icon-faculty>.icon-img{width:70px;height: 70px;background-size:70px 70px;margin:0 auto 15px;}
.ui-btn-icon-faculty>.faculty-name{font-size: 19px;}
.ui-icon-xinxueguan>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_xinxueguan.png");}
.ui-icon-jiazhuangxianke>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_jiazhuangxian.png");}
.ui-icon-yanke>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_yanke.png");}
.ui-icon-baineizhangke>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_baineizhang.png");}
.ui-icon-shenjingke>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_shenjingke.png");}
.ui-icon-jiezhichangaike>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_jiezhichangai.png");}
.ui-icon-gandan>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_gandan.png");}
.ui-icon-yixianwaike>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_yixian.png");}
.ui-icon-shengzhiyixueke>.icon-img {background-image: url("../images/faculty_icon/faculty_icon_shengzhiyixue.png");}

.ui-page-theme-a .ui-btn.ui-btn-active{border:0!important;box-shadow: 0!important;}

.padtop1{padding-top: 1px!important;}
.bordertop{border-top: 1px solid #dedede;}

.register{padding: 10px; background-color: #EAEAEA;}
.register a{width: 100%;}
.reg-btn{display: inline-block;padding: 8px 0;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;text-decoration: none;}

/**** expertteam ****/
body{margin:0;padding:0;font-size:14px;}
ul{padding-left:0;}
ol, ul {list-style: none;}
.section-title{padding:7px 20px;background-color:#F7F7F7;font-size:17px;}
.section-body{padding:0 15px;}
.section-body ul li {border-bottom: 1px dashed #d4d4d4;padding: 6px 0px 6px 15px;}
.section-body>p{line-height:1.5;}
.section-body>.text>p{font-weight:bold;}

.team-header{color:#fff;background:url(../images/background_750x128.png);background-size:100% 100%;position:fixed;width:100%;z-index:999;}
.team-introduce{line-height: 1.6;letter-spacing: 1.5px;color:#fff;background:url(../images/background_750x352.png);background-size:100% 100%;}
.doc-introduce{line-height: 1.7;letter-spacing: 1.5px;}
.section-body .img60 {display: block;margin: 7px auto;width: 60px;height: 60px;border: 1px solid #fff;border-radius: 50%;overflow: hidden;}
.section-body .team-name{padding:10px 0 5px 0;}
.section-body .team-name span{line-height:1.7;font-size:18px;color:#fff;}
.section-body .team-slogan span{line-height:1.7;font-size:15px;color:#fff;}
.section-body .team-hospital{padding:5px 0;font-size: 18px;}
.section-body .booking{padding-top:15px;position: absolute;right: 5px;}
.section-body .booking>a{text-decoration: none;}
.section-body .team-btn {line-height: 1.5;letter-spacing: 1.5px;padding: 5px 20px;font-size: 16px;border-radius: 3px;}
.btn-booking {color: #fff;background-color: #EFA429;border-color: #eea236;}
.pt10{padding-top:10px;}
.pt76{padding-top:76px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom: 10px;}
.mb20{margin-bottom:20px;}
.mr20{margin-right: 20px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px!important;}
.mt67{margin-top:67px;}
.divider{margin:10px 0;border-bottom:1px solid #ddd;}
.section-body .img80 {display: block;margin: 10px auto 0;width: 80px;height: 80px;border: 1px solid #ddd;border-radius: 50%;z-index:0;overflow: hidden;}
.section-body .introduce{padding:5px;}

.team{line-height: 1.5;letter-spacing: 1.5px;background:url(../images/background_750x480.png);background-size:100% 100%;}

.star-team .ui-grid-c>.ui-block-b{width: 75%;}
.ui-btn-icon-notext:after{margin-left: 0}
.star-team a{color: #000;}
.star-team .team-name{font-size: 18px;color: #000;padding-bottom: 5px;}
.star-team .team-hosiptal{padding: 0 10px 5px 0;color: #000;font-size: 15px;}
.star-team .team-faculty{padding: 0 10px 5px 0;color: #000;font-size: 15px;}
.star-team .team-slogan{padding: 0 15px 15px 0;color: #d91428;font-size: 15px;}
/**** faculty ****/
.doc .ui-grid-c .ui-block-b{width: 70%;}
.doc .expert-mtitle,.doc .expert-atitle{color: #9f9fa0;}
.doc a{text-decoration: none;}
.team-info .team-name{padding:15px 0 5px 5px;font-size: 18px;}
.team-info .team-slogan{padding:5px 0 5px 5px;font-size: 15px;}
.pd40{padding:40px 5px!important;}
.pl10{padding-left: 10px;}
.mt20{ margin-top: 20px;}
.ui-btn-icon-notext:after{margin-left: 0}
.team-name a{text-decoration: none; color:#fff;}
.text-write{color: #fff;}
.team-disTags{margin-top: 10px;}


/**** doctor ****/
.doc-info{line-height: 1.5;letter-spacing: 1.5px;background:url(../images/background_750x480.png);background-size:100% 100%;}
.img100 {display: block;margin: 10px auto;width: 100px;height: 100px;border: 1px solid #fff;border-radius: 50%;}
.header-area{padding:7px;margin:0 -15px;background-color: #EBEBEB;}
.docTags{text-align: center;}
.docTags .doc-name{color: #000;font-size: 18px;}
.docTags .doc-atitle,.docTags .doc-faculty,.docTags .doc-mtitle{color: #fff;font-size: 15px;}
.mr10{margin-right: 10px;}
.doc-hospital{padding:10px;font-size: 18px;}
.doc-desc{padding: 10px 5px;font-size: 15px;line-height: 1.7;letter-spacing: 1.5px;}

/**** register form ****/
.mt40{margin-top: 40px;}
.reg-header{margin-top: 18px;font-size: 18px;}
.verify_code .ui-btn{margin-top: 10px!important;}

/**** footerMenu ****/
.ui-footer .footerMenu{background-color: #e69f2e;color: #fff;font-size: 14px;padding: 10px 20px;letter-spacing: 1.7px;}
.ui-footer .footerMenu a{text-decoration: none;color: #fff;}
.ui-footer .footerMenu .borderleft{border-right: 1px solid #fff;padding-right: 10px;}
.ui-footer .footerMenu .tel{padding-right: 10px;}
.ui-footer .footerMenu .phone-img{border-radius: 0;background-size: contain;background-image: url("./icons/ic_phone.png");width: 22px;height: 22px;display: block;position: absolute;right: 155px;top: 7px;}
/*** ------- ****/
/**** mobile.css ****/
body,a.ui-btn,p{font-weight:200;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft Yahei', 黑体, 宋体, Arial, Simsun, Helvetica, sans-serif !important;}

form .errorMessage{color:#E21E1A;}
.hide{display:none !important;}

.divider{border:1px solid #ededed;}
.nobg{background-color: rgba(0, 0, 0, 0);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE6/IE7/8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*  IE8 */}
.bg-white{background-color:#fff;}

.btn-lightblue {
    color: #fff!important;
    background-color: #7bc9ca;
}
.btn-deepblue{
    color: #FFF !important;
    background-color: #458196!important;
}


.pull-left {float: left!important;}
.pull-right{float:right!important;}
img {vertical-align: middle;}
.img-responsive{width:100%;}
.media, .media-body {overflow: hidden;zoom: 1;}
.media>.pull-left {margin-right: 0.75em;}
.media-object {display: block;}

.text-center{text-align:center;}

.noborder{border:none;}

.color-green{color:#329600;}
.color-green2{color:#019865;}
.color-blue{color:#3399ff;}

.m-text-light{color:#777;}
.my-label{display:inline-block;padding: 0.5em;font-size: 0.75em;color: #FFF;}
.my-label-blue{background-color: #66CBFF;}

.my-border-round{border-radius:50% !important;border:3px solid #ededed !important;}
.m-paragraph{line-height:1.75;}

.m-panel{padding:1em;}
.m-panel>.m-sub-panel{padding:0.5em;margin-left:-1em;margin-right:-1em;border-bottom:1px solid #ededed;}
.m-panel>.m-sub-panel:last-child{border-bottom:none;}         


.pt1{padding-top:0.5em;}
.pt2{padding-top:1em;}
.pb1{padding-top:0.5em;}
.pb2{padding-top:1em;}

.mt-fix{margin-top:-1em;}
.mt1{margin-top:0.5em;}
.mt2{margin-top:1em;}

.overlay-container{position:relative;display:block;}
.overlay-container .overlay-shadow{
    position:absolute;
    bottom:0;
    display:block;
    width:100%;
    background-color:rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE6/IE7/8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"; /*  IE8 */
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.8)));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
    /* IE 10 */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8));
}
.overlay-container .overlay-shadow .overlay-caption{color:#fff;}

/**** Form ****/
form .form-result-success{display:none;}
form.success .form-result-success{display:block;}
form.success .ui-field-contain{display:none;}

/**** jquery mobile theme fix ****/
a.ui-btn{text-shadow:none; border:none;}
.ui-header a.ui-btn:after, .ui-footer a.ui-btn:after{border-radius:0;background-size:contain;}
.ui-header .ui-title, .ui-footer .ui-title{min-height:1.2em;}
.ui-btn.nobg:after{background-color:rgba(0, 0, 0, 0); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE6/IE7/8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*  IE8 */}
.ui-content .row, .ui-panel-inner>row{margin-left:-1em;margin-right:-1em;}

.ui-page{background-color:#f8f8f8;}
.ui-page.wheat{background-color:#f2f2f2;}


/**** Xiu mi ****/
#js_content,.x3-slice-plate{line-height:2;}

/**** Header ****/
.ui-header{background-color:#7bc9ca;border-bottom:1px solid #7bc9ca;color:#fff;}
.ui-header .ui-title{margin:0 auto !important; font-weight:normal;}
.m-icon-logo:after{
    background-image:url("./icons/ic_logo.png");
}
/* Fallback */
.ui-nosvg .m-icon-logo:after {
    background-image: url("./icons/ic_logo.png");
}



/**** Footer ****/
.ui-footer{background-color:#F6F6F6;border-top:1px solid #ededed;border-bottom:none;border-color:#ededed;}
.ui-footer .ui-btn{padding-top:2.7em;padding-bottom:0.5em;font-weight:200; color:#555 !important;background-color:#F6F6F6 !important;border:none !important;box-shadow:none !important;text-shadow:none !important;}

.m-icon-home:after{background-image:url("./icons/ic_booking.png");}
.ui-btn-active.m-icon-home:after{background-image: url("./icons/ic_booking_hover.png");}

.m-icon-hospital:after{background-image:url("./icons/ic_hospital.svg");}
/* Fallback */
.ui-nosvg .m-icon-hospital:after {background-image: url("./icons/ic_hospital.png");}
.ui-btn-active.m-icon-hospital:after{background-image: url("./icons/ic_hospital_hover.svg");}

.m-icon-cloud:after{background-image:url("./icons/ic_team.png");}
/* Fallback */
.ui-nosvg .m-icon-cloud:after {background-image: url("./icons/ic_cloud.png");}
.ui-btn-active.m-icon-cloud:after{background-image: url("./icons/ic_team_hover.png");}
.m-icon-globe:after{background-image:url("./icons/ic_global.png");}
/* Fallback */
.ui-nosvg .m-icon-globe:after {background-image: url("./icons/ic_global.png");}
.ui-btn-active.m-icon-globe:after{background-image: url("./icons/ic_global_hover.png");}
.m-icon-call:after{background-image:url("./icons/ic_call.png");}
/* Fallback */
.ui-nosvg .m-icon-call:after {background-image: url("./icons/ic_call.png");}
.ui-btn-active.m-icon-call:after{background-image: url("./icons/ic_call_hover.png");}


#actionbar{padding:0.75em 0;font-size:0.75em;text-align:center;background-color:#096;}
#actionbar, #actionbar a{color:#fff;text-decoration:none;}
#actionbar .navbar>a{padding:0 1em;}
#actionbar .navbar>a:first-child{padding-left:0;}
#actionbar .navbar>a:last-child{padding-right:0;}
#actionbar .navbar>a:active,#actionbar .navbar>a.active{color:#d8ff00;}


/**** Home page ****/
.home-header .ui-title{    
    color: #555;
    padding-left: 2em;    
    text-align: left;
    color: #fff;
    background: #7bc9ca url("./icons/homelogo.png") no-repeat 0 center;
    background-size: 1.5em;
    -webkit-background-size: 1.5em;
    -moz-background-size: 1.5em;
    -o-background-size: 1.5em;
}
/*
.home-header .ui-title{    
    color:#555;
    background: #009966 url("./icons/home_header.png") no-repeat 0 center; 
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
*/


.home-page .navbar-dis{margin-top:0.5em;margin-bottom:0.5em;}
.home-page .navbar-dis>ul>li>a.nav-dis{margin:0.25em !important;font-size:0.75em;color:#fff;}
.home-page .navbar-dis>ul>li>a.nav-dis:hover{color:#fff;background-color:#2bb46c;}
.home-page .navbar-dis>ul>li>a.ui-btn-icon-top{padding-top:3em;}
.home-page .navbar-dis>ul>li>a.ui-btn-icon-top:after{
    position:absolute;
    left:50%;
    height:2em;
    width:2em;
    margin-left:-1em;    
    background-color:rgba(0,0,0,0);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE6/IE7/8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*  IE8 */
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
/*
.ui-icon-bone:after{background-image:url("./icons/ic_bone.svg");}
.ui-icon-baby:after{background-image:url("./icons/ic_baby.svg");}
.ui-icon-fertility:after{background-image:url("./icons/ic_fertility.svg");}
.ui-icon-liver:after{background-image:url("./icons/ic_liver.svg");}
.ui-icon-cosmetic:after{background-image:url("./icons/ic_cosmetic.svg");}
.ui-icon-cardio:after{background-image:url("./icons/ic_cardio.png");}
.ui-icon-tumor:after{background-image:url("./icons/ic_tumor.png");}
.ui-icon-shenjingke:after{background-image:url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_shenjingke.png");}
.ui-icon-xiongwaike:after{background-image:url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_xiongwaike.png");}
.ui-icon-miniaowaike:after{background-image:url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_miniaowaike.png");}
*/

/**** Huizhen Page ****/
.section-hospital .section-title,.section-doctor .section-title{padding:0.5em 1em;}

.navbar-dis .ui-icon-bone,.section-disease.m-icon-bone,.section-disease.m-icon-bone .dis-info:before{background-color:#c90!important;}
.navbar-dis .ui-icon-liver,.section-disease.m-icon-liver,.section-disease.m-icon-liver .dis-info:before {background-color:#ff842a!important;}
.navbar-dis .ui-icon-baby,.section-disease.m-icon-baby,.section-disease.m-icon-baby .dis-info:before{background-color:#c672e1!important;}
//.navbar-dis .ui-icon-tumor,.section-disease.m-icon-tumor,.section-disease.m-icon-tumor .dis-info:before {background-color:#5598dc!important;}
.navbar-dis .ui-icon-tumor,.section-disease.m-icon-tumor,.section-disease.m-icon-tumor .dis-info:before {background-color:#81c220!important;}
.navbar-dis .ui-icon-cardio,.section-disease.m-icon-cardio,.section-disease.m-icon-cardio .dis-info:before {background-color:#CF0D0D!important;}
//.navbar-dis .ui-icon-shenjingke,.section-disease.m-icon-shenjingke,.section-disease.m-icon-shenjingke .dis-info:before{background-color:#339999!important;}
.navbar-dis .ui-icon-xiongwaike,.section-disease.m-icon-xiongwaike,.section-disease.m-icon-xiongwaike .dis-info:before{background-color:#339999!important;}
.navbar-dis .ui-icon-miniaowaike,.section-disease.m-icon-miniaowaike,.section-disease.m-icon-miniaowaike .dis-info:before{background-color:#339999!important;}

.section-disease .dis-info{position:relative;display:block;margin:0;padding:0.5em 0 0.5em 4em;min-height:5.5em;border-bottom: 1px solid #ededed;background-color:#fff;}
.section-disease .dis-info:before{
    content:'';
    position: absolute;
    height: 100%;
    width: 4em;
    margin: -0.5em 0;
    left: 0;
    background-repeat:no-repeat;background-position:center;background-size:3em;-webkit-background-size: 3em; -moz-background-size: 3em; -o-background-size: 3em;
}
.ui-icon-bone:after,.section-disease.m-icon-bone .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_guke.png");}
.ui-icon-liver:after,.section-disease.m-icon-liver .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_gandan.png");}
.ui-icon-cardio:after,.section-disease.m-icon-cardio .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_xinxueguan.png");}
.ui-icon-tumor:after,.section-disease.m-icon-tumor .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_zhongliu.png");}
.ui-icon-baby:after,.section-disease.m-icon-baby .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_fuchan.png");}
.ui-icon-cosmetic:after,.section-disease.m-icon-cosmetic .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_zhengxing.png");}
.ui-icon-xiongwaike:after,.section-disease.m-icon-xiongwaike .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_xiongwaike.png");}
.ui-icon-miniaowaike:after,.section-disease.m-icon-miniaowaike .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_miniaowaike.png");}
.ui-icon-shenjingke:after,.section-disease.m-icon-shenjingke .dis-info:before {background-image: url("http://mingyihz.oss-cn-hangzhou.aliyuncs.com/static%2Ffaculty_icon_shenjingke.png");}


.section-disease .dis-info>.dis-sub{padding:0 0.5em 0.5em 1em; border-bottom:1px solid #ccc;font-size:1em;}
.section-disease .dis-info>.dis-list{padding:0 0.5em;font-size:0.75em;}

.section-hospital,.section-doctor{margin-top:1em;}
.section-hospital ul.hospital-list>li>a.ui-btn, .section-doctor ul.doctor-list>li>a.ui-btn{color:#333;background-color:#fff;}
.section-hospital ul.hospital-list .h-name{margin-bottom:1em;}
.section-hospital ul.hospital-list .h-info{font-size:0.8em;}
.section-hospital ul.hospital-list .h-class,.section-hospital ul.hospital-list .h-type{color:#0065c9;}
.section-hospital ul.hospital-list .h-class{margin-right:1em;}

.section-doctor ul.doctor-list>li>a>div{}
.section-doctor ul.doctor-list .ui-li-has-thumb img.d-avatar{top:40%;margin-top:-2.5em;}

.section-doctor ul.doctor-list .d-name{margin-bottom:0.5em;color:#5D9A3F;}
.section-doctor ul.doctor-list .d-hospital, .section-doctor ul.doctor-list .d-faculty{margin-bottom:0.5em;font-size:0.8em;}
.section-doctor ul.doctor-list .d-title{display:inline-block;padding:0.5em;font-size:0.75em;color:#fff;background-color:#66cbff;}

/**** Doctor view page ****/
.ui-content>.m-panel{position:relative;padding:0.5em;background-color:#fff;border:1px solid #ededed; border-radius:0.5em;}
.m-panel>.m-sub-panel{padding:0.5em;margin-left:-0.5em;margin-right:-0.5em;border-width:2px;}
.m-panel>.m-sub-panel:first-child{padding-bottom:1.5em;}
.m-panel>.m-sub-panel:last-child{padding-bottom:0;}
.dr-view .dr-avatar{width:7em;}
.dr-view .dr-info>div{margin:0.5em 0;}
.dr-view .dr-info .dr-name{margin-top:0.2em;font-size:1.2em;color:#5d9a3f;}
.dr-view .dr-hospital{color:#096;}
.dr-view .dr-faculty{font-size:0.75em;}
.dr-view .dr-desc{padding-left:0.5em;}

/**** Hospital view page ****/
.hp-view .hp-avatar{margin:0 auto;text-align:center;}
.hp-view .hp-avatar>img{height:160px;}
.hp-view .hp-name{color:#096;}
.hp-view .hp-class,.hp-view .hp-type{display:inline-block;margin-right:1em;font-size:0.75em;color:#3399ff;}

/**** Overseas hospital page ****/
.overseas-hospital .banner-nav{margin-top:0.5em;padding:0 0.5em;}
.overseas-hospital .banner-nav>a{text-decoration:none;}
.overseas-hospital .overlay-container{font-weight:normal; text-align:center;}
.overseas-hospital .overlay-container .overlay-shadow{padding:0.5em 0;}

/**** Contactus page ****/
#pContactus .tip{}
#pContactus .sect-info .ui-field-contain, #pContactus .sect-wx .ui-field-contain{padding:0.5em 0;}
#pContactus .sect-info .label{margin-right:1em;}
#pContactus .contactus-form label{font-weight:bold;}
#pContactus .sect-wx .qrcode{width:60%;}

