body{background-color:#fff !important;}
#site-header{border-bottom:1px solid #ddd;}
#article-content,#xiumi-content{width:100%;max-width:800px;border:1px solid #D9DADC; border-top:none;}
#article-content .tn-article-content-context>.x3-slice-plate,#xiumi-content .tn-article-content-context>.x3-slice-plate{line-height:2;}
#js_article{width:100%;max-width:800px;}